<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <title>
      {{ appName }}
      {{#if title }}
        | {{ title }}
      {{/if }}
    </title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Rubik" rel="stylesheet">
    <!-- jQuery -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>


    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">


    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    <!-- Socket IO -->

    <script src="/socket.io/socket.io.js"></script>



    <!-- My Styles -->
    <link rel="stylesheet" href="/assets/stylesheets/css/style.css">
  </head>
  <body>
    {{> shared/_nav }}
    {{> shared/_flash }}
    <main class="container">
      {{{ body }}}
    </main>

    <script>
  var socket = io.connect('{{host}}');



  $("#newSectionSubmit").click(function(e) {
    let newSection={};
    newSection["body"] = $('#newSectionBody').val();
    newSection["author"] = $('#newSectionAuthor').val();
    socket.emit("newSection", newSection);
  })


  socket.on('addSection', function (data) {
    $('#sections').append(`<p class="section-body">${data["body"]}</p><p class="section-author">-${data["author"]}</p>`);
  });
</script>
  </body>
</html>
