<div class="col-md-10 col-md-offset-1">  
  <h1>Let's Make a Story!</h1>
  <br>
  <h4>Story Circle is a collaborative storytelling app. Users can work together to write a new story. Every story has a maximum contribution length to encourage everyone to finish their story. All you need to do to participate is come up with a pen name! Finished stories will be available for everyone to review.
  <br>
  <br>
  When an author writes a new section for the story, it will appear instantly on your screen, so you will always have the most up to date version of the story.
  <br>
  <br>
  Work together and have fun!
  </h4>
</div>